/* New */
:root {
  --primary-page-color: #282c34;
  --primary-text-color: #c6c9ca;
  --secondary-text-color: #ffffff;
  --accent-color: #61dafb;
  --accent-color-alternate: #e2b7f4;
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  padding: 1rem;
  font-family: -apple-system;
  font-size: 1rem;
  color: var(--primary-text-color);
  background-color: var(--primary-page-color);
  border-top: 5px solid var(--accent-color);
}
ul {
  line-height: 1.8rem;
}
a:link,
a:visited {
  color: var(--accent-color);
}
a:hover,
a:focus {
  color: var(--accent-color-alternate);
}
b {
  font-weight: 600;
}
h1,
h2,
h3 {
  font-weight: 500;
  line-height: 3rem;
  margin: 0;
  color: var(--secondary-text-color);
}
p {
  font-weight: 400;
  line-height: 1.6rem;
  margin: 0.75rem 0;
}
code,
pre {
  background-color: #424857;
  padding: 0.2em;
  border-radius: 0.3rem;
  color: var(--secondary-text-color);
  font-size: 0.9em;
}

/* Component styles */
.App {
  margin: 0 auto;
  max-width: 800px;
}
.Header {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 1rem;
}
.Users {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.Users p {
  margin: 0;
}
.Card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #20252c;
}
